@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Marvel';
    src: local('Marvel'), url(./font/Marvel/Marvel-Bold.ttf)format('truetype');
}

html{
    font-family: Marvel;
    font-size: x-large;
    font-weight: bold;
}